.browse-container {
  margin-top: 2%;
}

.banner-video-wrapper video {
  padding-bottom: 2%;
}

.banner-details-container {
  top: 17vw;
  position: absolute;
  left: 3.5vw;
  width: 80vw;
}

.banner-title {
  font-size: 2.5vw;
  font-weight: bold;
  margin-bottom: 1vw;
  color: white;
}

.banner-details-container p {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  color: white;
  font-weight: bold;
}

.banner-description {
  font-size: 1.5vw;
  margin-bottom: 1vw;
  color: white;
  font-weight: bold;
}

.banner-play-button{
  font-size: 50px;
}