.header-link {
  color: red;
  text-decoration: none;
  margin-left: 3%;
}

.header-elements {
  display: flex;
  justify-content: space-around;
}

.header-name{
  font-size: 20px;
  color: white;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-right: 1500px;
}

.nav-links a{
  color: white;
  text-decoration: none;
  // margin: 0 0 0 2rem;
  margin-right: 15px;
  padding-top: 20px;
  font-size: 20px;
}

