

.form-type {
  text-align: left;
  font-size: 20px;
  font-weight: bold;

}

.login-signup {
  text-align: right;
};

.sign-button {
  color: white;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
}


.session-submit {
  position: relative;
  background-color: red;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  height: 30px;
  width: 180px;
  font-size: 12px;
  margin-top: 20px;
}

.login-form-box {
  position: relative;
  top: 100px;
  text-align: center;
  margin: auto;
  height: 300px;
  width: 13%;
  background-color: rgba(0,0,0,.75);
  padding: 10px;
  color: white;
  border-radius: 3px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 10px;
}

.demo-user {
  margin-top: 60px;
}

.demo-login {
  text-align: left;
  color: white;
  font-weight: bold;
}

.demo-button {
  font-weight: bold;
  background-color: rgb(41, 41, 204);
  color: white;
  border-radius: 3px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}