
.sign-up-button {
 line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  float: right;
  border-radius: 3px;
  margin-top: 6px;
};

.form-type {
  text-align: left;
  font-size: 20px;
  font-weight: bold;

}

.login-signup {
  text-align: right;
};

.login-form-box {
  text-align: center;
  margin: auto;
  width: 15%;
  border: 3px solid black;
  padding: 10px;
}

.demo-login {
  text-align: left;
}