

.form-type {
  text-align: left;
  font-size: 20px;
  font-weight: bold;

}

.login-signup {
  text-align: right;
};

.login-form-box {
  text-align: center;
  margin: auto;
  width: 15%;
  border: 3px solid black;
  padding: 10px;
}

.demo-login {
  text-align: left;
}