.browse-header {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.item img {
  width: 21vw;
  height: 275px;
  transition: .1s;
  z-index: 1;
  padding: 0 1.5vw 0 .5vw;
  border-radius: 10px;
}