.browse-header {
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
}

.item img {
  width: 21vw;
  height: 275px;
  transition: .1s;
  z-index: 1;
  padding: 0 1.5vw 0 .5vw;
  border-radius: 10px;
}

.play-button {
  font-size: 35px;
  color: white;
  position: absolute;
  top: 225px;
  left: 0.5vw;
  padding: 10px;
  transition: .1s;
  text-decoration: none;
}

.add-delete{
  font-size: 28px;
  color: white;
  position: absolute;
  top: 230px;
  left: 3.5vw;
  padding: 10px;
  transition: .1s;
  text-decoration: none;
  cursor: pointer;
}