// Place all the styles related to the api::movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.video-show-container {
  display: flex;
  justify-content: center;
  margin-top: 8%;

};

.movie-hover-wrapper {
    z-index: 2;
    font-size: 12px;
    background: rgb(75, 75, 75);
    border-radius: 3px;
    opacity: .7;
    color: white;
    font-weight: bold;
    padding: 10px 12px;
    position: absolute;
    width: 360px;
    height: 100px;
    bottom: 180px;
    overflow: hidden;
};
